body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-flags-select .ReactFlagsSelect-module_selectBtn__19wW7 {
	height: 38.34px;
 }
 
 .ReactFlagsSelect-module_fullWidthOptions__1XeR6
 {
	width: 150px;
 }